.todo-item {
	position: relative;
	line-height: 34px;
	margin-top: 10px;
	margin-bottom: 10px;

	&_done {
		text-decoration: line-through;
	}

	&-options {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	&-checkbox {
		height: 28px;
	}

	&-option {
		margin-left: 5px;
	}
}