.todo-item {
  position: relative;
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.todo-item-done {
  text-decoration: line-through;
}

.todo-item-options {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.todo-item-checkbox {
  height: 2rem;
}

.todo-item-option {
  margin-left: 0.5rem;
}
